:root {
    --black: #000000;
    --grey: #808080;
    --light-grey: #b8b8b8;
    --white: #FFFFFF;
    --red: #FF0000;
    --orange: #FF9900;
    --yellow: #FFFF00;
    --green: #008000;
    --blue: #0000FF;
    --indigo: #4B0082;
    --violet: #8F00FF;
    --cyan: #00FFFF;
    --lime: #32CD32;

    --max-width: 1200px;

    --padding-left-and-right: 20px;
}

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.error {
    color: var(--red);
}

.max-width {
    max-width: var(--max-width);
    margin: auto;
}

h1 {
    font-size: 3rem;
}

#logo {
    background: var(--light-grey);
    padding: 10px var(--padding-left-and-right);
    font-size: 1.5rem;
}

header {
    background: var(--orange);
    padding: var(--padding-left-and-right);
}

main {
    background: var(--violet);
    padding: var(--padding-left-and-right);
}

#load-more-button {
    background: var(--cyan);
    padding: 15px 30px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
}

.photos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.photos-container::after {
    content: "";
    flex-grow: 10;
}

.photos-container img {
    height: 25vh;
    flex-grow: 1;
    object-fit: cover;
    max-width: 100%;
    cursor: pointer;
}

#photo-full-size-container {
    background: var(--light-grey);
    padding: 20px;
    display: grid;
    gap: 20px;
    align-content: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#photo-full-size-container img {
    width: 100%;
    max-height: 75vh;
    object-fit: contain;
}

#close-photo-full-size-container-button {
    cursor: pointer;
}

footer {
    background: var(--light-grey);
    padding: var(--padding-left-and-right);
}
