:root {
    --black: #000000;
    --grey: #dbdbdb;
    --light-grey: #f1f1f1;
    --dark-grey: #808080;
    --white: #FFFFFF;
    --red: #FF0000;
    --orange: #FF9900;
    --yellow: #FFFF00;
    --green: #008000;
    --blue: #0000FF;
    --indigo: #4B0082;
    --violet: #8F00FF;
    --cyan: #00FFFF;
    --lime: #32CD32;

    --night: #0C0F0A;
    --rose: #FF206E;
    --yellow: #FBFF12;
    --turquoise: #41EAD4;

    --max-width: 1200px;

    --padding-left-and-right: 20px;
}

@font-face {
    font-family: Nunito;
    src: url("../src/assets/fonts/Nunito-VariableFont_wght.ttf");
}

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.error {
    color: var(--red);
}

.max-width {
    max-width: var(--max-width);
    margin: auto;
}

body {
    background: var(--night);
    font-family: Nunito;
}

select {
    font-family: Nunito;
}

h1 {
    font-size: 2.5rem;
    line-height: 3rem;
}

p,
ul,
ol {
    line-height: 1.5rem;
}

#logo-container {
    background: var(--light-grey);
}

#logo {
    padding: 10px var(--padding-left-and-right);
    font-size: 1.5rem;
}

#logo a:link,
#logo a:active,
#logo a:visited {
    color: var(--night);
}

#header-container,
#main-container {
    background: var(--white);
}

header {
    padding: var(--padding-left-and-right) var(--padding-left-and-right) 0 var(--padding-left-and-right);
    display: grid;
    gap: 10px;
}

header p {
    color: var(--dark-grey);
}

main {
    padding: var(--padding-left-and-right);
}

#home main {
    display: grid;
    gap: 20px;
}

#tags {
    padding: 10px;
}

#load-more-button {
    background: var(--turquoise);
    padding: 15px 30px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    font-weight: bold
}

.photos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.photos-container::after {
    content: "";
    flex-grow: 10;
}

.photos-container img {
    height: 25vh;
    flex-grow: 1;
    object-fit: cover;
    max-width: 100%;
    cursor: pointer;
}

#photo-full-size-container {
    background: var(--light-grey);
    padding: 20px;
    display: grid;
    gap: 20px;
    align-content: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#photo-full-size-container a:link,
#photo-full-size-container a:active,
#photo-full-size-container a:visited {
    color: var(--rose);
}

#photo-full-size-container img {
    width: 100%;
    max-height: 60vh;
    object-fit: contain;
}

#close-photo-full-size-container-button {
    cursor: pointer;
}

footer {
    padding: var(--padding-left-and-right);
    display: grid;
    gap: 20px;
}

footer a:link,
footer a:active,
footer a:visited {
    color: var(--white);
}

.footer-links {
    display: grid;
    gap: 20px;
}

#copyright {
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: var(--dark-grey);
}

#terms-and-conditions main,
#contact main {
    display: grid;
    gap: 15px;
}

@media only screen and (min-width: 600px) {
    .footer-links {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }
}
