:root {
    --black: #000000;
    --dark-grey: #5c5c5c;
    --grey: #777777;
    --light-grey: #f1f1f1;
    --white: #FFFFFF;
    --red: #FF0000;
    --orange: #FF9900;
    --yellow: #FFFF00;
    --green: #008000;
    --blue: #0000FF;
    --indigo: #4B0082;
    --violet: #8F00FF;
    --cyan: #00FFFF;
    --lime: #32CD32;

    --night: #0C0F0A;
    --rose: #FF206E;
    --yellow: #FBFF12;
    --turquoise: #41EAD4;

    --max-width: 1200px;

    --padding-left-and-right: 20px;
}

@font-face {
    font-family: Nunito;
    src: url("../src/assets/fonts/Nunito-VariableFont_wght.ttf");
}

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.error {
    color: var(--red);
}

.max-width {
    max-width: var(--max-width);
    margin: auto;
}

body {
    background: var(--night);
    font-family: Nunito;
}

select {
    font-family: Nunito;
}

h1 {
    font-size: 2.5rem;
    line-height: 3rem;
}

p,
ul,
ol {
    line-height: 1.5rem;
}

#logo-and-nav-container {
    background: var(--light-grey);
}

#logo-and-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 10px var(--padding-left-and-right);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#logo {
    font-size: 1.2rem;
}

#logo:link,
#logo:active,
#logo:visited {
    color: var(--night);
}

#nav-container {
    background: var(--light-grey);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: var(--padding-left-and-right);
    text-align: right;
    transition: left 0.2s;
    display: grid;
    align-content: start;
    gap: 40px;
}

nav {
    /* background: var(--orange); */
    display: grid;
    gap: 10px;
}

nav a:link,
nav a:active,
nav a:visited {
    color: var(--dark-grey);
}

nav a:hover {
    text-decoration: underline;
}

#show-nav-button {
    /* background: orange; */
    width: 25px;
    display: grid;
    gap: 4px;
    justify-items: end;
    cursor: pointer;
}

#show-nav-button div {
    background: var(--night);
    height: 3px;
}

#show-nav-button div:first-of-type {
    width: 100%;
}

#show-nav-button div:nth-of-type(2) {
    width: 70%;
}

#show-nav-button div:last-of-type {
    width: 40%;
}

#hide-nav-button {
    cursor: pointer;
    position: relative;
    left: 97%;
}

#hide-nav-button div {
    position: absolute;
    width: 3px;
    height: 20px;
    background: var(--night);
    transform-origin: center;
}

#hide-nav-button div:first-of-type {
    transform: rotate(45deg);
}

#hide-nav-button div:last-of-type {
    transform: rotate(-45deg);
}

#header-container,
#main-container {
    background: var(--white);
}

header {
    padding: var(--padding-left-and-right) var(--padding-left-and-right) 0 var(--padding-left-and-right);
    display: grid;
    gap: 10px;
}

header p {
    color: var(--grey);
}

main {
    padding: var(--padding-left-and-right);
}

#home main {
    display: grid;
    gap: 20px;
}

#categories {
    padding: 10px;
}

#load-more-button {
    background: var(--turquoise);
    padding: 15px 30px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    font-weight: bold
}

.photos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.photos-container::after {
    content: "";
    flex-grow: 10;
}

.photos-container img {
    height: 25vh;
    flex-grow: 1;
    object-fit: cover;
    max-width: 100%;
    cursor: pointer;
}

#photo-full-size-container {
    background: var(--light-grey);
    padding: 20px;
    display: grid;
    gap: 20px;
    align-content: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#photo-full-size-container a:link,
#photo-full-size-container a:active,
#photo-full-size-container a:visited {
    color: var(--rose);
}

#photo-full-size-container img {
    width: 100%;
    max-height: 60vh;
    object-fit: contain;
}

#close-photo-full-size-container-button {
    cursor: pointer;
}

footer {
    padding: var(--padding-left-and-right);
    display: grid;
    gap: 20px;
}

footer a:link,
footer a:active,
footer a:visited {
    color: var(--white);
}

footer a:hover {
    text-decoration: underline;
}

.footer-links {
    display: grid;
    gap: 20px;
    font-weight: bold;
}

#copyright {
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: var(--dark-grey);
}

#terms-and-conditions main,
#contact main {
    display: grid;
    gap: 15px;
}

@media only screen and (min-width: 600px) {
    #nav-container {
        position: initial;
        top: initial;
        left: initial;
        width: initial;
        height: initial;
        padding: initial;
        text-align: initial;
        display: initial;
        align-content: initial;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    #show-nav-button,
    #hide-nav-button {
        display: none;
    }

    .footer-links {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }
}
